APP_ENV=development
APP_NAME=user-service
HTTP_PORT=8080

# Point to fidoo VM running the infra stack
DB_HOST=192.168.139.191
DB_PORT=5432
DB_USER=blog
DB_PASSWORD=blog123
DB_NAME=blog

REDIS_ADDR=192.168.139.191:6379
REDIS_PASSWORD=

JWT_SECRET=super-secret-key-change-in-production

FRONTEND_URL=http://localhost:3000
API_BASE_URL=http://localhost:8080/api/v1

ELASTICSEARCH_ADDR=http://localhost:9200

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
